.container{
    max-width: 400px;
    min-height:450px;
    margin:0 auto;
    background-color: #efefef;
    box-shadow: 0;
    margin-top: 0 0 10px gray;
    padding: 15px 50px;
}
.expense-container{
display:flex;
justify-content: space-around;
background-color:white;
box-shadow: 0 0 10px gray;
}
.text-center{ 
    text-align: center;
}
.transaction-form input{ 
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
}
.transaction-list{
    margin: 0;
    padding: 0;


}
.transaction-list > li{
    display:flex;
    justify-content: space-between;
    box-shadow:0 0 10px  gray;
    padding: 5px 10px; 
    margin: 5px 0;
    background-color: white
    


}